//////////////////
//* 1. IMPORTS *//
//////////////////

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap');
 

//////////////////
//* 2. THEMES *//
/////////////////

$themes: (
  cairo: (
    primary: #f9f3ed,
    secondary: #342e37,
    active: #A43A4B,
    alt: #e57853, 
  ),
  nyc: (
    primary: #001011,
    secondary: #F2F2E6,
    active: #ED6767,
    alt: #793F5C,
  ),
  croatia: (
    primary: #323846,
    secondary: #fbf9f3,
    active: #f0326e,
    alt: #78dbf4,
  ),
  lisbon: (
    primary: #e25a53,
    secondary: #fff,
    active: #fdb35d,
    alt: #a4d9d6,
  ),
);

@mixin getTheme($themes: $themes) {
  @each $theme, $map in $themes {

    .pig-in-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}


@function themed($key) {
  @return map-get($theme-map, $key);
}

////////////////
//* 3. HTML *//
///////////////

html {
  font-size: 10px;
}

@media only screen and(min-width: 720px) {  
  body { font-size: 1.8rem; }  
}

@media only screen and(max-width: 720px) {  
  body { font-size: 1.4rem; }  
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Nunito', sans-serif;
}

h1 { font-weight: bold; }


a {
  text-decoration: none;
  text-emphasis: none;
  @include getTheme($themes) {
    color: themed('alt');  
  }
}

a:hover {
  @include getTheme($themes) {
    color: themed('active');  
  }
}

::-webkit-scrollbar { // Scrollbar width
  width: 10px;
}

::-webkit-scrollbar-track { // Scrollbar Track
  @include getTheme($themes) {
    background: themed('primary');
  }
}

::-webkit-scrollbar-thumb { // Scrollbar handle
  @include getTheme($themes) {
    background: themed('active');
  } 
}

::-webkit-scrollbar-thumb:hover { // Scrollbar handle on hover
  @include getTheme($themes) {
    background: themed('active');
  } 
}

.demo {
  margin: 2em 0;
  padding: 2em;
  @include getTheme($themes) {
    border: 4px solid themed('alt');
  }
}

////////////////////
//* 4. Modifiers *//
////////////////////

.mss-root{
  @include getTheme($themes) {
    background: themed('primary');
    color: themed('secondary');
  } 
}

//* 4.a Buttons //

button, input[type=submit] {
  @include getTheme($themes) {
    background: themed('alt');
    color: themed('secondary');
  }
  font-weight: bold;
  box-shadow: .5rem .5rem 0px 0px #001011;
  border: none;
  padding: 1rem 2rem;

}

.mss-secondary {
  @include getTheme($themes) {
    background: themed('secondary');
    color: themed('primary');
  }
}
  
.mss-alert {
  @include getTheme($themes) {
    background: themed('active');
    color: themed('secondary');
  }
}


button:active, input[type=submit]:active {
  box-shadow: .2rem .2rem 0px 0px #001011;
}

/* These themes are too dark for a black box shadow
    So, they get a custom box-shadow color
*/
$light-box-shadow: #E0D5C7;
.pig-in-nyc button, input[type=submit]{
  box-shadow: .5rem .5rem 0px 0px $light-box-shadow;
}
.pig-in-nyc button:active,.pig-in-nyc input[type=submit]:active{
  box-shadow: .2rem .2rem 0px 0px $light-box-shadow;
}



//* 4.b Radio Buttons //

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  @include getTheme($themes) {
    background: themed('secondary');
    color: themed('secondary');
  }
  top: 10px;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;     
  margin-right: 7px;
  outline: none;
}

input[type=radio]:checked::before {
  position: absolute;
  font: 20px/1 'Open Sans', sans-serif;
  font-weight: bold;
  left: 4px;
  top: -0.5px;
  content: '●';
  transform: rotate(40deg);
}

input[type=radio]:hover {
  @include getTheme($themes) {
    background: themed('active');
  }
}

input[type=radio]:checked {
  @include getTheme($themes) {
    background: themed('secondary');
    color: themed('active');
  }
}

//* 4.c Radio Buttons //
input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  @include getTheme($themes) {
    background: themed('secondary');
    color: themed('secondary');
  }
  top: 10px;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;     
  margin-right: 7px;
  outline: none;

}

input[type=checkbox]:checked::before {
  position: absolute;
  font: 20px/1 'Open Sans', sans-serif;
  font-weight: bold;
  left: 4px;
  top: -0.5px;
  content: '✓';
  animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);

}

input[type=checkbox]:checked {
  @include getTheme($themes) {
    background: themed('secondary');
    color: themed('active');
  }
  animation: bounce 200ms cubic-bezier(.4,.0,.23,1);
}

input[type=checkbox]:not(:checked) {
  animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);  
}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}

@keyframes bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}