//////////////////
//* 1. IMPORTS *//
//////////////////

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap');
 

//////////////////
//* 2. THEMES *//
/////////////////

$themes: (
  sand: (
    primary: #f9f3ed,
    secondary: #342e37,
    active-color: #A43A4B,
    alt-color: #e57853, 
  ),
  midnight: (
    primary: #001011,
    secondary: #F2F2E6,
    active-color: #ED6767,
    alt-color: #793F5C,
  ),
  dawn: (
    primary: #323846,
    secondary: #fbf9f3,
    active-color: #c3f7eb,
    alt-color: #78dbf4,
  ),
  cannes: (
    primary: #faf3e3,
    secondary: #965786,
    active-clor: #70cee4,
    alt-color: #f8878f,
  )
);

@mixin getTheme($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}


@function themed($key) {
  @return map-get($theme-map, $key);
}

////////////////
//* 3. HTML *//
///////////////

html {
  font-size: 10px;
}

@media only screen and(min-width: 720px) {  
  body { font-size: 8.4rem; }  
}

@media only screen and(max-width: 720px) {  
  body { font-size: 1.4rem; }  
}


body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

h1 { font-weight: bold; }


a {
  text-decoration: none;
  text-emphasis: none;
  @include getTheme($themes) {
    color: themed('alt-color');  
  }
}

a:hover {
  @include getTheme($themes) {
    color: themed('active-color');  
  }
}

::-webkit-scrollbar { // Scrollbar width
  width: 10px;
}

::-webkit-scrollbar-track { // Scrollbar Track
  @include getTheme($themes) {
    background: themed('primary');
  }
}

::-webkit-scrollbar-thumb { // Scrollbar handle
  @include getTheme($themes) {
    background: themed('active-color');
  } 
}

::-webkit-scrollbar-thumb:hover { // Scrollbar handle on hover
  @include getTheme($themes) {
    background: themed('active-color');
  } 
}
