//////////////////
//* 1. IMPORTS *//
//////////////////

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap');
 

//////////////////
//* 2. THEMES *//
/////////////////

$themes: (
  cairo: (
    primary: #f9f3ed,
    secondary: #342e37,
    active: #A43A4B,
    alt: #e57853, 
  ),
  kiev: (
    primary: #001011,
    secondary: #F2F2E6,
    active: #ED6767,
    alt: #793F5C,
  ),
  croatia: (
    primary: #323846,
    secondary: #fbf9f3,
    active: #c3f7eb,
    alt: #78dbf4,
  ),
  lisbone: (
    primary: #965786,
    secondary: #fff,
    active-clor: #70cee4,
    alt: #f8878f,
  ),
);

@mixin getTheme($themes: $themes) {
  @each $theme, $map in $themes {

    .pig-in-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}


@function themed($key) {
  @return map-get($theme-map, $key);
}

////////////////
//* 3. HTML *//
///////////////

html {
  font-size: 10px;
}

@media only screen and(min-width: 720px) {  
  body { font-size: 1.8rem; }  
}

@media only screen and(max-width: 720px) {  
  body { font-size: 1.4rem; }  
}


body {
  
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

h1 { font-weight: bold; }


a {
  text-decoration: none;
  text-emphasis: none;
  @include getTheme($themes) {
    color: themed('alt');  
  }
}

a:hover {
  @include getTheme($themes) {
    color: themed('active');  
  }
}

::-webkit-scrollbar { // Scrollbar width
  width: 10px;
}

::-webkit-scrollbar-track { // Scrollbar Track
  @include getTheme($themes) {
    background: themed('primary');
  }
}

::-webkit-scrollbar-thumb { // Scrollbar handle
  @include getTheme($themes) {
    background: themed('active');
  } 
}

::-webkit-scrollbar-thumb:hover { // Scrollbar handle on hover
  @include getTheme($themes) {
    background: themed('active');
  } 
}

.mss-root{
  @include getTheme($themes) {
    background: themed('primary');
    color: themed('secondary');
  } 
    border: 4px solid red;
}